{% extends 'base.html' %}
{% block title %}プロフィール{% endblock %}
{% block h1 %}プロフィール{% endblock %}

{% block content %}
<div class="profile">
    {% if profile_user.username == user.username %}
    <h1>My profile</h1>

    {% else %}
    <h1>{{ profile_user }} 's profile</h1>
    
    {% endif %}
        <h2>過去のツイート</h2>

            {% for tweet in tweets %}
            [ツイート時間] {{ tweet.created_at }}
            <br>
            [ツイート内容] {{ tweet.content }}
            <br>
            <a href="{% url 'tweets:detail' tweet.pk %}">詳細</a>
            <br>
        {% empty %}
        <p>ツイートがまだありません。</p>
        
    {% endfor %}
</div>
{% endblock %}
