{% extends 'base.html' %}
{% block title %}プロフィール{% endblock %}
{% block h1 %}プロフィール{% endblock %}

{% block content %}
<div class="profile">
    {% if profile_user.username == user.username %}
    <h1>My profile</h1>

    {% else %}
    <h1>{{ profile_user }} 's profile</h1>

    {% endif %}

    <a href="{% url 'accounts:following_list' profile_user.username %}">フォロー数:{{ following_numbers }}人</a>
    <a href="{% url 'accounts:follower_list' profile_user.username %}">フォローワー数:{{ followers_numbers }}人</a>

    <div class="follow">
        {% if is_following %}
        <form action="{% url 'accounts:unfollow' profile_user.username %}" method="POST">
            {% csrf_token %}
            <button>Unfollow</button>
        </form>
        {% else %}
        <form action="{% url 'accounts:follow' profile_user.username %}" method="POST">
            {% csrf_token %}
            <button>Follow</button>
        </form>
        {% endif %}
    
        <h2>過去のツイート</h2>

            {% for tweet in tweets %}
            [ツイート時間] {{ tweet.created_at }}
            <br>
            [ツイート内容] {{ tweet.content }}
            <br>
            <a href="{% url 'tweets:detail' tweet.pk %}">詳細</a>
            <br>
        {% empty %}
        <p>ツイートがまだありません。</p>
        
    {% endfor %}
</div>
{% endblock %}
